
<table class="mainTable">
  <tr>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="4">
            Nasir Muhammad 'Awad al-Ghidan al-Harbi (Abu Bilal al-Harbi)
          </td>
        </tr>
        <tr>
          <td>
            Gender
          </td>
          <td>
            Male
          </td>
          <td>
            Last Location
          </td>
          <td>
            July 17th, 2016
          </td>
        </tr>
        <tr>
          <td>
            Born
          </td>
          <td>
            July 20th/September 5th, 1974
          </td>
          <td>
            Last Report Date
          </td>
          <td>
            July 17th, 2016
          </td>
        </tr>
        <tr>
          <td>
            Profession
          </td>
          <td>
            The governor of the Islamic State’s branch in Yemen
          </td>
          <td>
            Risk Classification
          </td>
          <td>
            High
          </td>
        </tr>
        <tr>
          <td>
            Group Affiliation
          </td>
          <td>
            Islamic State
          </td>
          <td>
            Country Of Operation
          </td>
          <td>
            Yemen
          </td>
        </tr>
        <tr></tr>
      </table>
    </td>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
  </tr>
  <tr>
    <td>
      <span>Terror in the gulf</span>
        <span class="textArea" style="width:250px;height:150px;">
          Saudi security forces on\nFriday (June 23rd) prevented an imminent attack on the Grand Mosque in Mecca,\nthe country's Interior Ministry said on state-run TV.\n\n\n\nA suspect in the planned attack on the mosque blew himself up in...
        </span>
    </td>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <video width="320" height="240" controls>
          <source src="../../assets/movie.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </td>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
    <td>
      <div><img src="../../assets/1.jpg"></div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <textarea class="conclusionArea"></textarea>
    </td>
  </tr>
</table>
