
<div class="mainTable">
  <div class="row-1">
    <div class="card">
      <div class="img">
        <img src="../../assets/entity-6.png">
      </div>
      <div class="info">
        <div class="name">
          <span>Nasir Muhammad 'Awad al-Ghidan al-Harbi (Abu Bilal al-Harbi)</span>
        </div>
        <div class="details">
          <div class="table">
            <div>
              <span>Gender</span>
              <span>Male</span>
            </div>
            <div>
              <span>Born</span>
              <span>July 20th/September 5th, 1974</span>
            </div>
            <div>
              <span>Profession</span>
              <span>The governor of the Islamic State’s branch in Yemen</span>
            </div>
            <div>
              <span>Group Affiliation</span>
              <span>Islamic State</span>
            </div>
          </div>
          <div class="table">
            <div>
              <span>Last Location</span>
              <span>Yemen</span>
            </div>
            <div>
              <span>Last Report Date</span>
              <span>July 17th, 2016</span>
            </div>
            <div>
              <span>Risk Classification</span>
              <span>High</span>
            </div>
            <div>
              <span>Country Of Operation</span>
              <span>Yemen</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="../../assets/entity-4.png">
    </div>
  </div>
  <div class="row-2">
    <div class="col-1">
      <img src="../../assets/entity-3.png">
    </div>
    <div class="col-2">
      <div class="row2-1">
        <div>
          <img src="../../assets/entity-5.png">
        </div>
        <div>
          <img src="../../assets/entity-7.png">
        </div>
      </div>
      <div class="row2-2">
        <img src="../../assets/entity-2.png">
      </div>
    </div>
  </div>
  <div class="row-3">
    <img src="../../assets/entity-1.png">
  </div>
</div>
