<div style="display: flex; justify-content: space-between; width: 96%; margin: 0 auto">
  <div _ngcontent-c1="" style="width:100%;">
    <form (keyup.enter)="sayMyName">
      <input _ngcontent-c1="" name="search" placeholder="Search.." type="text" style="">
    </form>
  </div>
  <div class="summarize">
    summarize
  </div>
</div>
<div class="info-box">
  <div style="width: 15%">
    <div class="headline">
      <div>
        Sources
        <div class="listitem" *ngFor="let value of sources" style="margin-bottom: 2%">
          <input style="margin-right: 3%" type="checkbox" [checked]="value.isChecked" /> {{value.name}}
        </div>
      </div>
      <div style="margin-top: 8%">
        Related orgs.
        <div class="listitem" *ngFor="let value of relatedOrgs" style="margin-bottom: 2%">
          <input style="margin-right: 3%" type="checkbox" [checked]="value.isChecked" /> {{value.name}}
        </div>
      </div>
      <div style="margin-top: 8%">
        time of content
        <div class="listitem" *ngFor="let value of timeOfContent" style="margin-bottom: 2%">
          <input style="margin-right: 3%" type="checkbox" [checked]="value.isChecked" /> {{value.name}}
        </div>
      </div>
      <div style="margin-top: 8%">
        related entity
        <div class="listitem" *ngFor="let value of relatedEntity" style="margin-bottom: 2%">
          <input style="margin-right: 3%" type="checkbox" [checked]="value.isChecked" /> {{value.name}}
        </div>
      </div>
    </div>
  </div>
  <div style="width: 25% ">
    <div *ngFor="let value of itemList; let i = index" [ngClass]="i === selectedItem ? 'selectedItemClass item' : 'item'" (click)="changeSelected(i)">
      <span>{{getDate(value)}}</span><span>
          {{value.Title}}
        </span>
    </div>
  </div>
  <div style="width: 60% ">
    <div class="itemTitle">
      {{getSelectedItem().Title}}
    </div>
    <div class="summary-container">
      <div><img src="../../assets/{{getSelectedItem().Picture}}" /></div>
      <div class="table">
        <div>
          <span>Publish Time:</span><span>{{getSelectedItem()['Publish Time']}}</span>
        </div>
        <div>
          <span>Source:</span><span>{{getSelectedItem().Source}}</span>
        </div>
        <div>
          <span>EEI:</span><span>{{getSelectedItem().EEI}}</span>
        </div>
        <div>
          <span>Person:</span><span>{{getSelectedItem().Person}}</span>
        </div>
        <div>
          <span>Location:</span><span>{{getSelectedItem().Location}}</span>
        </div>
        <div>
          <span>Organization:</span><span>{{getSelectedItem().Organization}}</span>
        </div>
        <div>
          <span>Keyphrases:</span><span>{{getSelectedItem().KeyPhrases}}</span>
        </div>
      </div>
    </div>
    <div class="itemText">
      {{getSelectedItem().Text}}
    </div>
  </div>
</div>