@import url('https://fonts.googleapis.com/css?family=Roboto');

input[type=text] {
  border-radius: 5px;

  width: 30%;
  height: 41px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
  background-color: white;
}

.searchIcon {
  font-size: 33px;
}

.mainTable {
  border-spacing: 26px;
  border-collapse: separate;
  display: block;
  margin: auto;
  width: 84%;
}

.headline {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(249, 253, 253);
  text-transform: uppercase;
}

.listitem {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(249, 253, 253);
  text-transform: none;
}

.itemTitle {
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(253, 254, 254);
  text-transform: uppercase;
}

.itemText {
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
}

.selectedItemClass {
  background: rgba(255, 255, 255, 0.5);
}
