<div class="mainTable">
  <div style="padding-bottom: 1%">
    <div class="divInRow">
      <span class="title">Terror in the gulf</span>
    </div>
  </div>
  <div class="container">
    <div class="col-1">
      <div class="text">
        Saudi security forces on Friday (June 23rd) prevented an imminent attack on the Grand Mosque in Mecca, the country's Interior Ministry said on state-run TV.    A suspect in the planned attack on the mosque blew himself up in a nearby neighborhood when security forces surrounded a home where the man was hiding, according to the ministry.    The suspect refused to comply with demands to surrender, opened fire on security forces and then killed himself, officials said.    The explosion caused the partial collapse of the building in which the suspect was hiding. Six expatriates were injured and taken to a hospital...
      </div>
      <div class="video-box">
        <div class="firstSubTitle">
          Power Map
        </div>
        <div>
          <video loop autoplay>
            <source src="assets/movie.mp4" type="video/mp4"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="video-box">
        <div class="firstSubTitle">
          who against who
        </div>
        <div>
          <img src="assets/2.1.png">
        </div>
      </div>
      <div class="video-box">
        <div class="firstSubTitle">
          key personas
        </div>
        <div>
          <a [routerLink]="['/entity']"><img src="assets/2.3.png"></a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="video-box">
        <div class="firstSubTitle">
          armament in the past 2 years of terror groups
        </div>
        <div>
          <img src="assets/2.1.2.png">
        </div>
      </div>
      <div class="video-box">
        <div class="firstSubTitle">
          social network sentiment
        </div>
        <div>
          <img src="assets/HEat-map_1.gif">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div style ="padding-top: 2%; padding-bottom: 1%;">
      <span class="title">ANALYST EVELUATION</span>
    </div>
    <div>
      <textarea class="conclusionArea"></textarea>
    </div>
    <div class="summarize">
      generate report
    </div>
  </div>

</div>
