<div class="mainTable">
  <div style="padding-bottom: 1%">
    <div class="divInRow">
      <span class="title">Terror in the gulf</span>
    </div>
    <div class="divInRow" style="margin-left: 19%;">
      <input type="text" name="search" placeholder="Search..">
    </div>
  </div>
  <div>
    <div class="divInRow " style="width: 30%;">
      <div >
        <span class="title">Terror in the gulf</span>
      </div>
        <span class="textArea title" style="width:250px;height:150px; line-height: 1.3;">
          Saudi security forces on\nFriday (June 23rd) prevented an imminent attack on the Grand Mosque in Mecca,\nthe country's Interior Ministry said on state-run TV.\n\n\n\nA suspect in the planned attack on the mosque blew himself up in...
        </span>
    </div>
    <div class="divInRow middleDiv"><img src="../../assets/2.1.png"></div>
    <div class="divInRow"><img src="../../assets/2.2.png"></div>
  </div>
  <div>
      <div class="divInRow" style="width: 30%;">
        <video controls autoplay>
          <source src="../../assets/movie.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="divInRow middleDiv"><img src="../../assets/2.3.png"></div>
      <div class="divInRow"><img src="../../assets/2.4.png"></div>
  </div>
  <div class="footer">
    <div style ="padding-top: 2%; padding-bottom: 1%;">
      <span class="title">ANALYST EVELUATION</span>
    </div>
    <div>
      <textarea class="conclusionArea"></textarea>
    </div>
    <div class="generateBtn">
      <form method="get" action="../../assets/Demo.pdf">
        <button type="submit" _ngcontent-tbv-1="" color="accent" md-raised-button="" class="md-accent">
          <span class="md-button-wrapper">Generate Button</span>
          <div class="md-button-ripple" md-ripple="" md-ripple-background-color="rgba(0, 0, 0, 0)">
            <div class="md-ripple-background" style="background-color: rgba(0, 0, 0, 0);"></div>
          </div>
        </button>
      </form>
    </div>
  </div>

</div>
