<nav>
  <div class="navBar">
    <div class="categorize">
      <a [routerLink]="['/']">
        Top EEIS
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Social network
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/']">
        Osint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Humint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/']">
        Humint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Geoint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/itemsList']">
        Cyber
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/github', 'angular']">
        Github Repos
      </a>
    </div>
  </div>
</nav>

<main style="height: 100%">
  <router-outlet></router-outlet>
</main>


<footer>
</footer>