<nav>
  <div class="navBar">
    <div class="categorize">
      <a [routerLink]="['/']">
        Top EEIS
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Social network
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/']">
        Osint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Humint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/']">
        Sigint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/about']">
        Geoint
      </a>
    </div>
    |
    <div class="categorize">
      <a [routerLink]="['/itemsList']">
        Cyber
      </a>
    </div>
    <div style="float: right; font-size: 36px; font-weight: bold; font-family: 'Open Sans Condensed'; margin-right: 3%">
      Exact
    </div>

  </div>
</nav>

<main style="height: 100%; min-height: 100vh">
  <router-outlet></router-outlet>
</main>


<footer>
</footer>