<div class="mainTable">
  <div style="padding-bottom: 1%">
    <div class="divInRow">
      <span class="title">Terror in Yemen</span>
    </div>
  </div>
  <div class="container">
    <div class="col-1">
      <div class="text">
        <div class="title2">Analyst Assessments</div>
        Additional searches shows other indications regarding the failure of Yemen, which should not only be seen as an internal threat upon its stability, but also as a threat to the security of the world's largest oil producer, Saudi Arabia. And a threat to Saudi Arabia is not only a serious threat to the Arabian Peninsula and the entire Middle East, but also to the world’s economy. It is, therefore, essential that the US and its allies in the Gulf formulate a plan that can appease both Yemenite and revolutionary elites alike in Yemen's first steps towards democracy, given the understanding that promoting national dialogue is the way to achieve long-term stability and security.
      </div>
      <div class="video-box">
        <div class="firstSubTitle">
          Attack and support zone
        </div>
        <div>
          <img class="right" src="assets/4-1.png">
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="video-box">
        <div class="firstSubTitle">
          Isis activity in yemen
        </div>
        <div>
          <img src="assets/4-2.png">
        </div>
      </div>
      <div class="video-box">
        <div class="firstSubTitle">
          key personas
        </div>
        <div>
          <a [routerLink]="['/entity']"><img src="assets/2.3.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div>
      <div style ="padding-top: 2%; padding-bottom: 1%;">
        <span class="title">ANALYST EVELUATION</span>
      </div>
      <div>
        <textarea class="conclusionArea"></textarea>
      </div>
    </div>
    <div>
      <div style ="padding-top: 2%; padding-bottom: 1%;">
        <span class="title">RECOMMENDATION</span>
      </div>
      <div>
        <textarea class="conclusionArea"></textarea>
      </div>
    </div>
  </div>
  <div class="summarize">
    generate report
  </div>

</div>
