@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
