<div class="mainTable">
  <div class="col-1">
    <div class="video-box">
      <div>
        <a [routerLink]="['/reporter']" class="firstSubTitle tooltipExact terror">
          Terror in the gulf
        </a>
      </div>
      <div>
        <video loop autoplay>
          <source src="assets/movie.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div>
      <div class="video-box">
        <div class="firstSubTitle tooltipExact economy">
          Economic Growth factors & Oil
        </div>
        <div>
          <video autoplay src="assets/chart.mov">
            <source src="assets/chart.mov" type="video/mov"> Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="row-1">
      <div class="grid-item">
        <input (keyup.enter)="moveRoute();" #item name="search" placeholder="Search.." type="text" style="background-image: url('assets/searchIcon.png'); background-repeat: no-repeat; background-position: 7px 7px; background-size: 30px; padding-left: 40px;">
      </div>
    </div>
    <div class="row-2">
      <div class="col2-1">
        <div class="video-box">
          <div class="firstSubTitle tooltipExact america">
            trump and american involvement
          </div>
          <div>
            <img src="assets/3.png">
          </div>
        </div>
        <div class="video-box">
          <div class="firstSubTitle tooltipExact saudi">
            appointments in saudi arabia
          </div>
          <div>
            <img src="assets/5.png">
          </div>
        </div>
      </div>
      <div class="col2-2">
        <div class="video-box">
          <div class="firstSubTitle tooltipExact yemen">
            stability in yemen
          </div>
          <div>
            <img src="assets/4.png">
          </div>
        </div>
        <div class="video-box">
          <div class="firstSubTitle tooltipExact social">
            future challenges & state of mind
          </div>
          <div>
            <img src="assets/HEat-map_1.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
