<div class="mainTable">
  <div class="col-1">
    <div class="video-box">
      <div>
        <a [routerLink]="['/reporter']" class="firstSubTitle">
          Terror in the gulf
        </a>
      </div>
      <div>
        <video loop autoplay>
          <source src="assets/movie.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div>
      <img src="assets/2.png">
    </div>
  </div>
  <div class="col-2">
    <div class="row-1">
      <div class="grid-item">
        <input (keyup.enter)="moveRoute();" #item name="search" placeholder="Search.." type="text" style="">
      </div>
    </div>
    <div class="row-2">
      <div class="col2-1">
        <div><img src="assets/3.png"></div>
        <div><img src="assets/5.png"></div>
      </div>
      <div class="col2-2">
        <div><img src="assets/4.png"></div>
        <div><img src="assets/6.png"></div>
      </div>
    </div>
  </div>
</div>