<div class="mainTable">
  <div _ngcontent-c1="" style="text-align: center; height: 61px;">
    <input _ngcontent-c1="" name="search" placeholder="Search.." type="text" style="">
  </div>
  <div>
    <div class="divInRow">
      <div>
        <a [routerLink]="['/reporter']" class="firstSubTitle">
          Terror in the gulf
        </a>
      </div>
      <div>
        <video controls autoplay>
          <source src="../../assets/movie.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
      <div class="divInRow" style="padding-left: 4%;"><img src="../../assets/3.png"></div>
      <div class="divInRow" style="padding-left: 2%;"><img src="../../assets/5.png"></div>
  </div>
  <div>
      <div class="divInRow"><img src="../../assets/2.png"></div>
      <div class="divInRow" style="padding-left: 1%;  padding-bottom: 12%;"><img src="../../assets/4.png"></div>
      <div class="divInRow" style="padding-left: 3%;"><img src="../../assets/6.png"></div>
  </div>
</div>
